# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.so

# Virtual environment
venv/
.env/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# VSCode / PyCharm
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build / Dist
build/
dist/
*.egg-info/

# HuggingFace cache
.huggingface/
.cache/
transformers_cache/
datasets/

# Models
ml_models/ethics_prediction_deberta_v3_small/model.safetensors